.jumbotron {
  padding-top: 4rem;
  background-color: #ffd700;
}

#portofolio {
  background-color: #ffd700;
}

section {
  padding-top: 7rem;
}

footer {
  padding-bottom: 5rem;
  background-color: #ffd700;
}
