<!DOCTYPE html>
<html>

<head>
  <!-- meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bootstrap demo</title>
  <!-- CSS Bootstrap Offline / Download-->
  <link rel="stylesheet" href="bahan/bootstrap/css/bootstrap.css" />
  <!-- CSS Manual Styling-->
  <link rel="stylesheet" href="style.css" />

<body>
  <!-- Batas Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger shadow">
    <div class="container-fluid">
      <div class="navbar-brand">My Social Media</div>
      <a href="https://linktr.ee/Dyxz">
        <iconify-icon icon="tabler:brand-linktree" width="40"></iconify-icon>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="home.html">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="aboutme.html">Tentang Kelompok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portofolio.html">Konten</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactme.html">Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Batas Navbar -->
  <!-- Batas About Me -->
  <section id="aboutme">
    <div class="container">
      <div class="row text-center mb-3">
        <div class="col">
          <h2>Kelompok 1 The Matrix</h2>
        </div>
      </div>
      <div class="row justify-content-center fs-5">
        <div class="col-md-4 text-start">
          <p>
            Kelompok 1 atau Kelompok The Matrix, merupakan sebuah kelompok yang terdiri dari 7 orang di dalamnya.
            Anggotanya yaitu, Sheva Mahardika Putraa, Kartiko Sunu Nugroho. Rizky Putra Febrian, Ayasha Ramadhan,
            Rivaldo Bagus Prasetya, La Farlah, dan Muhammad Saifulloh
          </p>
        </div>
        <div class="col-md-4 text-end">
          <p>
            The Matrix adalah sebuah kelompok yang disatukan karena keadaan, di mana kami memiliki satu tujuan yang
            sama. Yaitu merubah tatanan dunia, dengan cara memenangkan Prabowo pada pemilu tahun 2024 nanti.
          </p>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffd700" fill-opacity="1"
        d="M0,288L48,282.7C96,277,192,267,288,224C384,181,480,107,576,106.7C672,107,768,181,864,192C960,203,1056,149,1152,117.3C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </section>
  <!-- Batas About Me -->
  <!-- JavaScript Bootstrap Offline-->
  <script src="bahan/bootstrap/js/bootstrap.bundle.js"></script>
  <!-- Script Icon Social Media-->
  <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</body>
</head>

</html>