<!DOCTYPE html>
<html>

<head>
  <!-- meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bootstrap demo</title>
  <!-- CSS Bootstrap Offline / Download-->
  <link rel="stylesheet" href="bahan/bootstrap/css/bootstrap.css" />
  <!-- CSS Manual Styling-->
  <link rel="stylesheet" href="style.css" />

<body>
  <!-- Batas Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger shadow">
    <div class="container-fluid">
      <div class="navbar-brand">My Social Media</div>
      <a href="https://linktr.ee/Dyxz">
        <iconify-icon icon="tabler:brand-linktree" width="40"></iconify-icon>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home.html">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutme.html">Tentang Kelompok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portofolio.html">Konten</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactme.html">Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Batas Navbar -->
  <!-- Batas Jumbotron -->
  <section class="jumbotron text-center">
    <img src="img/profil.jpg" width="200" class="rounded-circle img-thumbnail" />
    <h1 class="fw-semibold" class="display-4">Sheva Mahardika Putra</h1>
    <p class="lead">Mahasiswa biasa, yang hobinya berenang <cite title="(kalo ada yang ajak)">(kalo ada yang
        ngajak).</cite></p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,288L48,282.7C96,277,192,267,288,224C384,181,480,107,576,106.7C672,107,768,181,864,192C960,203,1056,149,1152,117.3C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </section>

  <section class="jumbotron text-center">
    <img src="img/sunu.jpeg" width="200" class="rounded-circle img-thumbnail" />
    <h1 class="fw-semibold" class="display-4">Kartiko Sunu Nugroho</h1>
    <p class="lead">Mahasiswa atas saya gabisa berenang<cite title="(omong doang)">(omong doang).</cite></p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,288L48,282.7C96,277,192,267,288,224C384,181,480,107,576,106.7C672,107,768,181,864,192C960,203,1056,149,1152,117.3C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </section>

  <section class="jumbotron text-center">
    <img src="img/rizky.jpeg" width="200" class="rounded-circle img-thumbnail" />
    <h1 class="fw-semibold" class="display-4">Rizky Putra Febrian</h1>
    <p class="lead">Mobile legend dulu, baru tugas<cite title="(kalo ada yang ajak)"></cite></p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,288L48,282.7C96,277,192,267,288,224C384,181,480,107,576,106.7C672,107,768,181,864,192C960,203,1056,149,1152,117.3C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </section>

  <section class="jumbotron text-center">
    <img src="img/yasa.jpeg" width="200" class="rounded-circle img-thumbnail" />
    <h1 class="fw-semibold" class="display-4">Ayasha Ramadhan</h1>
    <p class="lead">Film dulu, baru kamu<cite title="(kalo ada yang ajak)"></cite></p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,288L48,282.7C96,277,192,267,288,224C384,181,480,107,576,106.7C672,107,768,181,864,192C960,203,1056,149,1152,117.3C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </section>

  <section class="jumbotron text-center">
    <img src="img/aldo.jpeg" width="200" class="rounded-circle img-thumbnail" />
    <h1 class="fw-semibold" class="display-4">Rivaldo Bagus Syahputra</h1>
    <p class="lead">Fans nomor satu ganjar<cite title="(kalo ada yang ajak)"></cite></p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,288L48,282.7C96,277,192,267,288,224C384,181,480,107,576,106.7C672,107,768,181,864,192C960,203,1056,149,1152,117.3C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </section>

  <section class="jumbotron text-center">
    <img src="img/farlah.jpeg" width="200" class="rounded-circle img-thumbnail" />
    <h1 class="fw-semibold" class="display-4">La Farlah</h1>
    <p class="lead">Infokan futsal terdekat<cite title="(kalo ada yang ajak)"></cite></p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,288L48,282.7C96,277,192,267,288,224C384,181,480,107,576,106.7C672,107,768,181,864,192C960,203,1056,149,1152,117.3C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </section>

  <section class="jumbotron text-center">
    <img src="img/ipul.jpeg" width="200" class="rounded-circle img-thumbnail" />
    <h1 class="fw-semibold" class="display-4">Muhammad Saifulloh</h1>
    <p class="lead">Anime adalah nama tengahku<cite title="(kalo ada yang ajak)"></cite></p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,288L48,282.7C96,277,192,267,288,224C384,181,480,107,576,106.7C672,107,768,181,864,192C960,203,1056,149,1152,117.3C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </section>
  <!-- Batas Jumbotron -->
  <!-- Batas Footer -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1"
      d="M0,288L48,240C96,192,192,96,288,69.3C384,43,480,85,576,106.7C672,128,768,128,864,122.7C960,117,1056,107,1152,112C1248,117,1344,139,1392,149.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
    </path>
  </svg>
  <footer class="text-center">
    <p>Created by <strong>Sheva Mahardika Putra</strong></p>
  </footer>
  <!-- Batas Footer -->
  <!-- JavaScript Bootstrap Offline-->
  <script src="bahan/bootstrap/js/bootstrap.bundle.js"></script>
  <!-- Script Icon Social Media-->
  <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</body>
</head>

</html>